
*{
    margin: 0;
    padding: 0;
}

.area {
    background-color: green;
    /* position: relative; */
}

.road-one {
    height: 10vh;
    width: 100%;
    background-color: grey;
}

.road-two {
    height: 100vh;
    width: 5%;
    background-color: grey;
    position: relative;
    left: 0;
}

.road-three {
        height: 100vh;
        width: 5%;
        background-color: grey;
        position: absolute;
        right: 0;
        bottom: 0;
}

.road-four {
    height: 40px;
    width: 100%;
    background-color: grey;
    position: absolute;
    bottom: 0;
}

.img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    animation: example 10s ease-in-out infinite;

}

.stone {
    width: 5%;
    height: 10%;
    background-color:brown;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 50%;
}

@keyframes example {
    0% {
        top: 0;
        left: 0;
    }
    
    25% {
        top: 0;
        left: 90%;
    }

    50% {
        top: 90%;
        left: 90% ;
    }

    /* 65% {
        top: 80%;
        left: 60%;
        } */

    /* 65% {
        top:70%;
        left: 50% ;
    } */

    65% {
        top: 75%;
        left: 50%;
    }

    75% {
        top: 90% ;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}